altair==4.1.0
config==0.5.1
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.2
plotly==5.7.0
plotly_express==0.4.1
seaborn==0.12.1
snowflake==0.0.3
snowflake_snowpark_python==1.1.0
streamlit==1.8.1
streamlit_option_menu==0.3.2
streamlit-aggrid
pyarrow<10.1.0,>=10.0.1
